hydra-core==1.0.4
imageio==2.4.1
jupyter==1.0.0
jupyter-contrib-nbextensions==0.5.1
jupyterlab-pygments==0.1.2
nbclient==0.5.1
nbzip==0.1.0
nibabel==3.1.1
opencv-python==4.2.0.32
pipdeptree==1.0.0
pytorch-lightning==1.1.0
torch==1.5.1
seaborn==0.9.0
SimpleITK==1.2.0
tabulate==0.8.3
torchsummary==1.5.1
torchvision==0.6.1
vtk==8.1.2